.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fc9c54;
  color: white;
}

.navbar {
  height: 58px;
}

.NavStuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
}

.Current-Weather {
  background-image: url("http://openweathermap.org/img/wn/02d@2x.png");
  background-repeat: no-repeat, repeat;
  align-items: center;
  justify-content: center;
}

.Weekly {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.i01d {
  background-image: url(http://openweathermap.org/img/wn/01d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i02d {
  background-image: url(http://openweathermap.org/img/wn/02d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i03d {
  background-image: url(http://openweathermap.org/img/wn/03d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i04d {
  background-image: url(http://openweathermap.org/img/wn/04d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i10d {
  background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i13d {
  background-image: url(http://openweathermap.org/img/wn/13d@2x.png);
  background-repeat: no-repeat, repeat;
}
.i01n {
  background-image: url(http://openweathermap.org/img/wn/01n@2x.png);
  background-repeat: no-repeat, repeat;
}
.i02n {
  background-image: url(http://openweathermap.org/img/wn/02n@2x.png);
  background-repeat: no-repeat, repeat;
}
.i03n {
  background-image: url(http://openweathermap.org/img/wn/03n@2x.png);
  background-repeat: no-repeat, repeat;
}
.i04n {
  background-image: url(http://openweathermap.org/img/wn/04n@2x.png);
  background-repeat: no-repeat, repeat;
}
.i10n {
  background-image: url(http://openweathermap.org/img/wn/10n@2x.png);
  background-repeat: no-repeat, repeat;
}
.i13n {
  background-image: url(http://openweathermap.org/img/wn/13n@2x.png);
  background-repeat: no-repeat, repeat;
}

.App {
  background: #273849;
}

.col-lg-4 {
  align-content: center;
}

.text-white {
  color: white;
  font-weight: bolder;
}

.nav-text {
  font-weight: bolder;
}

.card-body {
  margin: auto !important;
  width: 50% !important;
  border: 3px !important;
  padding: 10px !important;
}

html {
  background-color: black;
}

.mx-auto {
  display: flex;
  padding: 10px;
}

.UserLocations {
  width: 97%;
  display: flex;
  justify-content: center;
}

.cardInfo {
  width: 5%;
}

.weeklydiv {
  width: 85%;
}

.signupdiv {
  display: center;
}
