*,
*::before,
*::after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.Home {
  background: linear-gradient(to right, #19aab1, #014e6f);
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
}

.App-link {
  color: #80b5c1;
}

.App-logo {
  position: fixed;
  top: 21.5px;
  left: 41px;
  height: 4vmin;
  pointer-events: none;
  color: #ff7403;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo2 {
  /* position: fixed; */
  top: 10;
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .Full-screen {
    display: none;
  }

  .Search-bar {
    max-width: 275px;
    /* left: 60px; */
    /* position: fixed; */
  }

  .App-logo {
    position: relative;
    height: 8vmin;
    left: 0.1vmin;
    top: 1vmin;
  }
}

nav {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  position: fixed;
  background: linear-gradient(rgb(255, 133, 3), rgb(250, 192, 1));
  color: white;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
  color: white;
}

.NavStuff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 30%; */
  list-style: none;
}

.Search-bar {
  position: relative;
  width: 350px;
  /* left: -28%; */
}

.Logout:hover {
  background-color: rgb(194, 149, 0);
}

.Current-Weather {
  /* background-image: url("http://openweathermap.org/img/wn/02d@2x.png");
  background-repeat: no-repeat, repeat; */
  align-items: center;
  justify-content: center;
}

.Top {
  /* border-radius: 5px; */
  /* box-shadow: 0 5px 10px rgb(42, 41, 41); */
  /* width: 310px; */
  align-items: center;
  justify-content: center;

  /* padding: 10px; */
  /* background: white; */
}

.Weekly {
  display: flex;
  /* left: 30px; */
  flex-direction: row;
  width: 1400px;
  justify-content: center;
  align-items: center;
}

.App {
  background: #273849;
}

.col-lg-4 {
  align-content: center;
}

.text-white {
  color: white;
  font-weight: bolder;
}

.nav-text {
  font-weight: bolder;
}

.card-body {
  margin: auto !important;
  width: 50% !important;
  border: 3px !important;
  padding: 5px !important;
}

html {
  background-color: black;
}

.mx-auto {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.UserLocations {
  width: 95%;
  display: flex;
  justify-content: center;
}

.cardInfo {
  width: 15%;
}

/* .weeklydiv {
  width: 85%;
} */

.signupdiv {
  display: center;
}

.Sign-on {
  background: linear-gradient(to right, #19aab1, #014e6f);
  align-items: center;
  min-height: 100vh;
  color: white;
}

.Sign-on-card {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
  width: 350px;
  padding: 10px;
  background: linear-gradient(#ff8503, #ffb514);
}

.pac-item {
  font-size: 1.5rem;
  padding: 10px 10px;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  font-size: 1.3rem;
  padding: 5px;
}

.DayInWeek {
  /* max-width: 80%;
  min-width: 75%; */
  /* height: 200px; */
  width: 125px;
  background-color: white;
}

.Saved-table {
  width: 310px;
  /* height: 375px; */
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
  background: linear-gradient(to right, #014e6f, #0d7d8e);
  margin-left: 15%;
  /* padding-left: 25%; */
}

@media screen and (max-width: 768px) {
  .Saved-table {
    margin: auto;
  }
}
